<section class="landing-page">
  <div class="wrapper">
    <div class="text-brains d-flex flex-column text-center align-items-center justify-content-center h-100">
      <h3 class="display-3 animated zoomIn">An Online Shopping App</h3>
      <p class="lead px-3 animated zoomInLeft">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet aperiam assumenda autem debitis distinctio dolorum enim est eum exercitationem, expedita itaque, magnam nobis pariatur perferendis quasi ratione repellat sed tenetur.</p>
      <button class="btn btn-brains btn-sm animated zoomInRight">Shop Now</button>
    </div>
  </div>
</section>
